@font-face {
  font-family:HelveticaLight;
  src: local("Helvetica Neue Light"),
       local("HelveticaNeue-Light"),
       url(helveticaneue-light-001.ttf);
}

svg {
	width:148mm; 
	height:105mm; 
}

text {
	fill: DimGray;
	font-weight: 300;
	font-size: 10px;
	font-family: HelveticaLight, sans-serif;
}

line {
	stroke: LightGray;
	stroke-linecap:butt;
	stroke-width:1px;
}

line.processConnection {
	stroke-width:0.2px;
}

#recipeName {
	font-size: 12px;
}


#process {
	fill: white; 
	stroke: LightGray;
  	stroke-width: 1px;
}

#components {
	fill: white; 
	stroke: LightGray;
  	stroke-width: 0.2px;
}

.instruction .method{ 
	font-size: 12px;
	font-weight: 500;
}

.instruction .direction {
	color: LightGray;
}


.componentUnit {
	width: 200px; 
	height:400px;
	font-size: 8px;
	
}
