text {
	fill: DimGray;
	font-size: 10px;
	font-family: helvetica, sans-serif;	
}

#recipeName {
	font-size: 12px;
}

#process {
	fill: FloralWhite; 
	width: 80px; 
	height:50px;
	stroke: LightGray;
  	stroke-width: 1;
}

.instruction .method,
.instruction .direction { 
	width: 80px;
	font-size: 10px;
	transform: translate(10px, 20px);
}

.instruction .direction { 
	transform: translate(10px, 100px);
}

.componentUnit {
	fill: red; 
	width: 200px; 
	height:50px;
	visibility: hidden;
}